@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --header-height: 4rem 4rem;

  --font-text: "Montserrat", sans-serif;
  
  --body-color: #f1f1f1;
  --color-01: #2ec5b6;
  --color-02: #1d7d73;
  --dark-gray: #222;
  --light-gray: #7d7d7d;
}

/* SCROLL ANIMATION */
[data-anime] {
  opacity: 0;
  transition: 1.3s;
}

[data-anime="down"] {
  transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
  transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
  transform: translate3d(-100%, 0, 0);
} 

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


body {
  background-color: var(--body-color);
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header {
  box-sizing: border-box;
  height: 4rem;
  padding: 1rem;
  margin: 0;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: var(--body-color);
  border-bottom: 1px solid var(--color-01);
}

#header a.logo {
  font-weight: 800;
  margin-left: 20px;
  color: #000;
}

#header .logo span {
  margin-left: 5px;
  color: var(--color-01);
}

#header .logo p {
  font-size: 1rem;
  font-weight: 400;
}

#btn-mobile {
  display: none;
}


#menu {
  display: flex;
  padding: 10px;
  gap: 2rem;
}


li a.links {
  padding: 5px;
  font-size: 1.2rem;  
  color: var(--color-02);
}

li a.links:hover {
  background-color: var(--color-01);
  color: var(--body-color);
  border-radius: 4px;
  transition: 0.8s;
}

div.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

section {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 8rem 0 8rem 0;
}

#main {
  padding-top: 10rem;
  gap: 5rem;
}

#main div.image img {
  display: flex;
  width: 40vw;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.5rem var(--light-gray);
}

div.text-main h1 {
  display: grid;
  font-size: clamp(6rem, 8vw, 8rem);
  font-weight: 800;
  color: var(--light-gray);
  margin: 0;
  padding: 0;
}

#main h1 span {
  color: var(--color-02);
  margin: 0;
  padding: 0;
}

#main p {
  color: var(--dark-gray);
  font-size: clamp(0.2rem, 2vw, 1.5rem);
  margin-top: 20px;
}

#about {
  gap: 5rem;
  padding-bottom: 20rem;
}

#about div.text-main {
  display: flex;
  flex-direction: column;
}

div h1.title {
  color: var(--color-02);
  font-weight: 800;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  margin-bottom: 10px;
}

#about h1 {
  font-size: 1.5rem;
}

#about div p.text {
  display: flex;
  text-align: justify;
  font-weight: 400;
  font-size: clamp(1rem, 1rem + .1vw, 1.5rem);
}

h1#gestalt-title.title {
  width: 25%;
  border-bottom: 0.1rem solid var(--color-02);
  margin-top: 1rem;
}

p#gestalt-text.text {
  color: var(--light-gray);
  margin: 1rem 0 1rem 0;
}

div.button a {
  display: flex;
  width: 50%;
  justify-content: center;
  color: var(--body-color);
  background-color: var(--color-02);
  margin-top: 0px;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px;
}

div.button a:hover {
  background-color: var(--color-01);
  transition: 0.8s;
  box-shadow: 0 0 5px var(--dark-gray);
}

#about div img {
  max-width: 25vw;
  border-radius: 10px;
}

#services h1.title {
  
  text-align: center;
  font-weight: 400;
  background-color: var(--color-02);
  color: var(--body-color);
  border-radius: 0.5rem;

  margin-left: 25rem;
  margin-right: 25rem;
}

div.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;

  margin-top: 5rem;
  margin-bottom: 5rem;

  gap: 2rem;
  
}

div.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-01);
  width: 100px;
  padding: 2rem 6rem;

  box-shadow: 2px 2px 5px var(--color-02);
  
  gap: 1rem;
  border-radius: 1rem;
}

div.icons img {
  width: 100px;
}

#contact {
  gap: 3rem;
}

div.contact-text h1 {
  color: var(--color-02);
  font-weight: 800;
  font-size: clamp(2rem, 2rem + 1vw, 3rem);
  margin-bottom: 30px;
}

div.contact-text p {
  color: var(--light-gray);
  font-weight: 400;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
}

#contact div.button a {
  margin-top: 1.5rem;
  width: 30vh;
}

div.contact-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

div.contact-area img.logo {
  width: 30vw;
}

div.contact-area a {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-decoration: none;
  text-align: left;
  color: var(--color-02);

  margin-top: 1rem;
}

div.contact-area a img {
  width: 1.5rem;
  margin-right: 10px;
}

footer { 
  width: auto;
  height: 50px;
  background-color: var(--color-01);
}

footer p {
  color: var(--body-color);
  font-weight: 400;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
}

footer p a {
  margin-left: 5px;
  color: var(--dark-gray);
}


/* Media Queries */

@media (min-width: 992px) and (max-width: 1199px) {

  section {
    max-width: 1024px;
  }

  #main, #about, #services, #contact {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  div.image #image-main {
    max-width: 50vw;
  }

 

  #main div.text-main h1 {
    
    font-size: clamp(1rem, 8vw, 8rem);

  }

  #main div.text-main p {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  }

  #about {
    justify-content: center;
    align-items: center;
  }

  #about h1.title {
    font-size: 1.5rem;
  }

  #about div.text-main {
    font-size: clamp(0.5rem, 0.8vw, 0.8rem);
  }

  #about div.text-main {
    max-width: 50vw;
  }

  #about div.image img {
    max-width: 40vw;
    margin: 0;
  }
}

@media (max-width: 768px) {

  #header {
    height: 30px;
   
  }

  #header a {
    font-size: 1rem;
  }

  #header a.logo p {
    font-size: 0.6rem;
  
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor:pointer;
    gap: 0.5rem;
  }

  #hamburger {
    display: block;
    width: 20px;
    border-top: 2px solid var(--color-02);
  }

  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--color-02);
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent; 
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 30px;
    right: 0px;
    background: var(--body-color);
    text-align: center;
    height: 0px;
    visibility: hidden;
    z-index: 1000;
    transition: .6s;
    overflow-y: hidden;
  }

  #nav.active #menu{
    height: calc(100vh - 30px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu li a.links {
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--color-01);
  }

  #menu li a.links:hover {
    background-color: var(--body-color);
    color: var(--color-02);
   
  }

  #menu li {
    margin-top: 50px;
  }

  #main div.text-main {
    max-width: 200px;
  }


  #main div.text-main h1 {
    max-width: 800px;
    font-size: 4rem;
  }

  #main div.text-main p {
    font-size: 1rem;
  }


  #main div.image img {
    max-width: 400px;
    
  }

  div.text-main {
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  div.text-main h1.title {
    text-align: center;
    margin-top: 30px;
  }

  #about {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  #about div.image img {
    width: 300px;
    
  }

  #about div.text-main p.text {
    font-size: 1rem;
  }

  #about h1#gestalt-title.title {
    font-size: 1.3rem;
    border-bottom: none;
  }

  div.button {
    width: 100%;
  }

  #contact {
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  div.contact-area {
    justify-content: flex-end;
    align-items: center;
  }

  #contact h1 {
    font-size: clamp(1em, 1em + 1vw, 3em);
  }

  #contact img.logo {
    margin: 0;
    width: 400px;
  }

  #contact a {
    font-size: clamp(0.8em, 0.8em + 1vw, 1em);
  }

}

/*@media (max-width: 767px) {
  .container {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
  }

  #header a.logo p {
    font-size: 0.5rem;
  }

  #main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #main div.image img {
    display: none;
  }

  #main div.text-main h1 {
    max-width: 100%;
    text-align: center;
    font-size: 5rem;
  }
  
  #main div.text-main p {
    text-align: center;
    font-size: 1rem;
  }

  #about {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #about div.image img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: var(--dark-gray) 0 0 10px;
  }
  
  #about h1.title {
    font-size: 2rem;
  }

  #about div p.text {
    font-size: 1.5rem;
  }

  #about h1#gestalt-title.title {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    width: auto;
    color: var(--body-color);
    background-color: var(--color-02);

    padding: 0.5rem;
    border-radius: 0.2rem;
  }

  #about div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  #about div.button a {
    text-align: center;
  }

  #services div.cards {
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 2rem;
  }

  #services div.icons {
    width: 100px;
  }

  #services div.icons h1 {
    font-size: 1rem;
  }

  #contact {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  div.contact-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-top: 5px;
  }

  #contact img.logo {
    max-width: 300px;
  }

  div.contact-area a img {
    margin: 0;
  }
  
  div.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
 
    
  div.contact-text h1 {
    text-align: center;
    margin: 0;
  }

  div.contact-text p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }

  #contact div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 20px;
  }
  
  #contact div.button a {
    text-align: center;
  }

  div.contact-area a p {
    display: none;
  }  

  footer {
    height: 100px;
  }

  footer p {
    text-align: center;
    font-size: 1rem;
  }

  footer p.p1 {
    display: none;
  }



}